<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <record id="travel_record_tree_view" model="ir.ui.view">
        <field name="name">travel.record.tree</field>
        <field name="model">travel.travel</field>
        <field name="arch" type="xml">
            <tree string="Marks" decoration-success="travel_status == 'Active'" decoration-info="travel_status == 'Not Active'">
                <field name="name" decoration-bf="1" />
                <field name="age" />
                <field name="no_of_times_travelled" />
                <field name="travel_status" />
            </tree>
        </field>
    </record>
</odoo>